*{
    padding:0;
    margin: 0;
}
header{
   
    margin-top: 60px;
    width: auto;
    height: 150px;
    text-align: left;
    color: white;
    font-weight: 100;
    font-size: 45px;
    text-shadow: -2px -2px 0 rgba(0,235,255,.4), 2px 2px 0 rgba(0,235,255,.9);
}

#title{
    margin-left: 200px;
}
header:first-letter{
    font-size: 1.5em;
}
body{
    background-color:cyan;
}
#diaitolog{
    margin-top: -190px;
}
fieldset
{
    background-color:whitesmoke;
    overflow: hidden;
    float: right;
    margin-right: 20px;
    height: 170px;
}
li #checkbox
{
    margin-top: 10px;
    margin-left: 140px;
}
li h4
{
margin-left: 5px;
margin-top: -25px;

}

 .login input
{
    width: 280px;
    height: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}
.error_login
{
    margin-top: 30px;
    color: red;
    text-align: center;
    font-size: 8pt;
}
label
{
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    vertical-align: top;
    width: 100px;
}
li
{
color: black;

}
input{
    background-color: rgb(38,38,38);
    color: white;
    height: 20px;
}
li#pass
{
    margin-top: 10px;
}

.cicle{
    background-color: cyan;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border: 1px solid white;
    margin-top: -300px;
    margin-left: 20px;
    box-shadow: inset 0px -1px 1px rgba(0,0,0,.4), inset 0px 1px 1px rgba(255,255,255,.9) ;
}
.cicle:hover{
   background: rgb(38,38,38); 
}
hr{
    color: white;
    margin-top: -40px;
}
article{
    width: 60%;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 150%;
    font-size: 1.5em;
    text-shadow: -2px -2px 0 rgba(0,235,255,.4), 2px 2px 0 rgba(0,235,255,.9);
}
#eisagogi{
    color: white;
}
#kalosorisma{
    color: white;
    
}
#close{
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);  
    -webkit-transform: rotate(25deg);  
    -ms-transform: rotate(25deg);  
     transform: rotate(25deg);
     width: 300px;
     margin-top: 350px;
     margin-left: 20px;
}
#close1{
     width: 600px;
     margin-top: 60px;
     margin-left: 300px;
}

footer{
    background: rgb(38,38,38);
    height: 135px;
    margin-top: -10px;
    color: white;
}
footer address{
    margin-top: 40px;
    padding-top:  20px;
    margin-left: 240px;
}
footer img{
    width: 50px;
    margin-right: 50px;
    float: right;   
}
.foot{
    background-color: rgb(38,38,38);
    float: left;
    border-radius: 50%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border: 1px solid rgb(38,38,38);
    margin-top: -20px;
    margin-left: 20px;
    box-shadow: inset 0px -1px 1px rgba(0,0,0,.4), inset 0px 1px 1px rgba(255,255,255,.9) ;
}
.foot:hover{
    background-color: orangered;
}
